# Docker Compose Project Name (prefix for containers' names)
COMPOSE_PROJECT_NAME=nikolai_forum

MYSQL_VERSION=8.4.1
PHP_VERSION=8.2.21
# Check latest version here: https://xdebug.org/download/historical
# But remember to check PHP compatability here: https://xdebug.org/docs/compat
XDEBUG_VERSION=3.3.2

ENVIRONMENT=dev

HTTP_PORT=80

DB_HOST_INNER=db
DB_PORT_OUTER=3306
DB_USER=nikolai
DB_PASSWORD=nikolai
DB_NAME=nikolai_forum

MYSQL_ROOT_PASSWORD=root

LOCAL_DATABASE_DIR=./db/data

