@media screen and (min-width: 1024px)
{
	* {
		font-size: 15px;
	}
	
	#content {
		width: 80%;
	}

	#scrollup {
		right: 30px;
		top: 30px;
	}
	
	#error_404 {
		margin: 155px 0;
		font-size: 30px;
	}
	
	/* ============================================= */
	/* HEADER */
	/* ============================================= */
	
	#head_img {
		width: 55%;
	}
	
	#head_text {
		margin-top: 8px;
		margin-bottom: 11px;
	}
	
	.menu_button {
		border-radius: 5px;
	}
	
	/* ============================================= */
	/* ARTICLE */
	/* ============================================= */

	article {
		margin-top: 6px;
		border-radius: 5px;
		padding: 10px;
	}
	
	/* ============================================= */
	/* Таблица пользователей */
	/* ============================================= */
	
	#players_table {
		margin-bottom: 10px;
	}
	
	/* ============================================= */
	/* Профиль пользователя */
	/* ============================================= */

	#rightside {
		min-height: 243px;
	}
	
	/* ============================================= */
}